<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
      <add key="app_id" value="1ca74190"/>
      <add key="app_key" value="ad2ece2581024fa28abe323c0d4109c7"/>
      <add key="max_search_radius" value="250"/>
      <add key="max_bus_stop" value="2"/>
   </appSettings>
</configuration>